

rstudio/*Cache*
rstudio/Cookies*
rstudio/*Storage
rstudio/Crashpad
rstudio/TransportSecurity
rstudio/Network*Persistent*State
rstudio/Dictionaries
rstudio/SingletonCookie
rstudio/SingletonLock
rstudio/SingletonSocket
rstudio/crash-handler.conf
nvim/plugin/packer_compiled.lua
